<a href="https://colab.research.google.com/github/LShanthipriya777/Python-/blob/main/Daily_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=int(input())
for i in range (n):
    for j in range (n):
        print("*",end="")
    print()

26
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************
**************************

In [ ]:
num=15
num_sqrt=num**0.5
print(num_sqrt)

3.872983346207417

In [ ]:
n=int (input ())
i=0
while (i<n):
  print(i)
  i=+1

1
0

In [ ]:
n = 5
ch = 65
for i in range(n):
    for j in range(i + 1):
        print(chr(ch), end=' ')
        ch += 1
    print()

A
B C
D E F
G H I J
K L M N O

In [ ]:
rows = 4

for i in range(rows):
    ch = chr(65 + i)
    for j in range(i + 1):
        print(ch, end=" ")
    print()

A
B B
C C C
D D D D

In [ ]:
for i in range (65,69):
    for j in range (65,i+1):
        print (chr(i),end="")
    print()

A
BB
CCC
DDDD

In [ ]:
for i in range(1,5):
  for j in range (1,i+1):
    print("*",end="")
  print()

*
**
***
****

In [ ]:
n=4
for i in range (1,n+1):
    print("*"*i)

*
**
***
****

In [ ]:
rows = [1, 2, 3, 8]

for i in rows:
    print("*" * i)

*
**
***
********

In [ ]:
n=int (input ())
for i in range (n):
   print("*")

8
*
*
*
*
*
*
*
*

In [ ]:
n=int (input ())
for i in range (n):
   print("*", end="")

9
*********

In [ ]:
for i in range (1,6):
  for j in range (1,6):
    print("*",end="")
  print()

*****
*****
*****
*****
*****

In [ ]:
a=int (input ())
b= int (input ())
for i in range (a):
    print("*"*b)

8
7
*******
*******
*******
*******
*******
*******
*******
*******

In [ ]:
n=9
for i in range (n,0,-1):
    print("*"*i)

*********
********
*******
******
*****
****
***
**
*

In [ ]:
for i in range (1,9):
  for j in range(1,i-1):
    print("*",end="")
  print()

*
**
***
****
*****
******

In [ ]:
 n=1
while (i < 5):
   print(i)
   i+=1

In [ ]:


a=int (input ())
while(a < 5):
  print(a)
  a+=1

1
1
2
3
4

In [ ]:
for i in range (1,11):
   print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range (7):
  if i==2:
   continue
  print (i)

0
1
3
4
5
6

In [ ]:
for i in range(10):
  if (i==10):
    break
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
a=int(input ())
print(a)
print(type(a))

5
5
<class 'int'>

In [ ]:
a=float(input ())
print(a)
print(type(a))

5
5.0
<class 'float'>

In [ ]:
A=int(input ())
print (A)
print(type(A))

6
6
<class 'int'>

In [ ]:
A=float (input ())
print (A)
print(type(A))

8
8.0
<class 'float'>

In [ ]:
a=True
print(a)
print(type(a))

True
<class 'bool'>

In [ ]:
c=5+6j
print(c)
print(type(c))

(5+6j)
<class 'complex'>

In [ ]:
H="my name is Shanthi priya "
print(H)
print(type(H))

my name is Shanthi priya
<class 'str'>

In [ ]:
f="All the 'apples' are good "
print(f)
print(type(f))

All the 'apples' are good
<class 'str'>

In [ ]:
a,b= map(int, input().split())

3 2

In [ ]:
a=[2,4,8,"Shanthi"]
print(a)
print(type(a))

[2, 4, 8, 'Shanthi']
<class 'list'>

In [ ]:
b=(9,5,7,"priya")
print(a)
print(type(b))

[2, 4, 8, 'Shanthi']
<class 'tuple'>

In [ ]:
h={"string":4,"hi":9}
print(h)
print(type(h))

{'string': 4, 'hi': 9}
<class 'dict'>

In [ ]:
h={"string":4,"hi":9}
print(h.keys())
print(h)
print(type(h))

dict_keys(['string', 'hi'])
{'string': 4, 'hi': 9}
<class 'dict'>

In [ ]:
h={"string":4,"hi":9}
print(h.values())
print(h)
print(type(h))

dict_values([4, 9])
{'string': 4, 'hi': 9}
<class 'dict'>

In [ ]:
h={"string":4,"hi":9}
print(h.items())
print(h)
print(type(h))

dict_items([('string', 4), ('hi', 9)])
{'string': 4, 'hi': 9}
<class 'dict'>

In [ ]:
h={"string":4,"hi":9}
print(h.pop("string"))
print(h)
print(type(h))

4
{'hi': 9}
<class 'dict'>

In [ ]:
h={"string":4,"hi":9}
print(h.update({"course":"python"}))
print(h)
print(type(h))

None
{'string': 4, 'hi': 9, 'course': 'python'}
<class 'dict'>

In [ ]:
x=(1,2,3,4,5,6,7,8,9)
print(min(x))
print(max(x))
print(type(x))

1
9
<class 'tuple'>

In [ ]:
x=(1,2,3,4,5,6,7,8,9,"banana")
print(min(x))
print(max(x))
print(type(x))

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
x=(1,2,3,4,5,6,7,8,9)
print(x.count(9))
print(type(x))

1
<class 'tuple'>

In [ ]:
x=(1,2,3,4,5,6,7,8,9)
print(x.index(9))
print(type(x))

8
<class 'tuple'>